{% extends 'base.html.twig' %}

{% block title %}Hello ImpressionFilController!
{% endblock %}

{% block body %}

	<div class="ImpressionFIl">
		<div class="QlqPla">
			<video class="video-background" autoplay muted loop>
				<source src="../../public/assets/videos/ezgif.com-gif-maker.mp4" type="video/mp4">
			</video>
			<a href="#FonctionnementFil">
				<div class="box">
					<span></span>
					<span></span>
					<span></span>
				</div>
			</a>
			<h1>Imprimantes 3D filaments</h1>
		</div>
		<div class="Fonctionnement" id="FonctionnementFil">
			<h1>Fonctionnement d'une imprimante filaments</h1>
			<p>La majorité des imprimantes 3D personnelles fonctionnent selon ce principe. FDM est l’acronyme anglais de Fused
																								    Deposition Modeling qui signifie « modelage par dépôt de filament en fusion ». Ce procédé qui a été inventé en
																								    1988 par la société Stratasys, est une marque déposée. On parle aussi de FFF (Fused Filament Fabrication) voir
																								    même de MPD (Molten Polymer Deposition) qui sont eux des termes libres de droits. Cette technique consiste à
																								    déposer couche par couche un filament de matière thermoplastique fondu à 200°C (en moyenne) qui en se
																								    superposant donne forme à l’objet.
																								
																								    La tête d’impression se déplace selon les coordonnées X, Y et Z (longueur, largeur et hauteur) transmises par un
																								    fichier 3D correspondant au modèle 3D de l’objet à imprimer. Limitée pendant longtemps à des matériaux de type
																								    plastique tels que les classiques PLA et l’ABS, l’impression 3D voit arriver de nouveaux filaments composites à
																								    base de métal (cuivre, bronze…), de fibres de carbone et même de bois. Plus rarement certaines machines
																								    utilisent des cires ou des polycarbonates. Aujourd’hui l’industrie agroalimentaire et la médecine s’emparent peu
																								    à peu de cette technique pour imprimer des aliments et des cellules en adaptant la tête d’extrusion.</p>
		</div>
		<div class="card-group">
			<div class="card">
				<img src="../../public/assets/images/crealityEnder3.jpg" class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">Imprimante 3D Creality Ender 3 Pro</h5>
					<p class="card-text">la Creality Ender 3 Pro est exactement ce qu’il vous faut. Il s’agit d’une fantastique
																																			imprimante 3D à petit budget qui convient à tous ceux qui recherchent un prix abordable.</p>
					<a href="https://www.amazon.fr/Creality-Official-Meanwell-Flexible-220x220x250mm/dp/B07GYRQVYV?__mk_fr_FR=%C3%85M%C3%85%C5%BD%C3%95%C3%91&dchild=1&keywords=Creality+Ender+3+Pro+3D+Printer&qid=1625667977&sr=8-1-spons&psc=1&spLa=ZW5jcnlwdGVkUXVhbGlmaWVyPUFHN1NNVFo1NDhXNFImZW5jcnlwdGVkSWQ9QTA4NDIyMDEyNUdUSDI1TTQ0RFBBJmVuY3J5cHRlZEFkSWQ9QTEwMzM3MTMxOTRPNjVMNzNUN0dNJndpZGdldE5hbWU9c3BfYXRmJmFjdGlvbj1jbGlja1JlZGlyZWN0JmRvTm90TG9nQ2xpY2s9dHJ1ZQ%3D%3D&linkCode=sl1&tag=proactivefr-21&linkId=ce4022b093d07a8f1253f17d88504929&language=fr_FR&ref_=as_li_ss_tl" class="card-text">
						<small class="text-muted">Acheter cette imprimante</small>
					</a>
				</div>
			</div>
			<div class="card">
				<img src="../../public/assets/images/crealityEnderV2.jpg" class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">Imprimante 3D Creality Ender 3 V2</h5>
					<p class="card-text">Vous avez déjà entendu parler de l’Ender 3 Pro, mais cette imprimante est la prochaine
																																																																																																												            étape. Son prix est légèrement supérieur au modèle précédent. Voici ce que vous devez savoir sur la dernière
																																																																																																												            Ender.
																																																																																																												
																																																																																																												            Creality est à la pointe des imprimantes FDM à bas prix. Aujourd’hui, elle a intégré tout son savoir-faire
																																																																																																												            dans l’Ender 3 V2.</p>
					<a href="https://www.amazon.fr/Meanwell-Ender-3-Imprimante-carte-silencieuse/dp/B07FFTHMMN/ref=sr_1_1_sspa?__mk_fr_FR=%C3%85M%C3%85%C5%BD%C3%95%C3%91&dchild=1&keywords=Imprimante+3D+Creality+Ender+3+V2&qid=1630052018&sr=8-1-spons&psc=1&spLa=ZW5jcnlwdGVkUXVhbGlmaWVyPUEySE1PTjhCS1EwVFNBJmVuY3J5cHRlZElkPUEwNjUwMDM1MzIwUFZNWVpSQ0VUVyZlbmNyeXB0ZWRBZElkPUEwNDU0ODEwM0VCQ1NWS1g3QVNNSyZ3aWRnZXROYW1lPXNwX2F0ZiZhY3Rpb249Y2xpY2tSZWRpcmVjdCZkb05vdExvZ0NsaWNrPXRydWU=" class="card-text">
						<small class="text-muted">Acheter cette imprimante</small>
					</a>
				</div>
			</div>
			<div class="card">
				<img src="../../public/assets/images/Neptune2.jpg" class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">ELEGOO Imprimante 3D NEPTUNE 2</h5>
					<p class="card-text">Carte Mère Silencieuse, Plaque de Construction Amovible, Alimentation Sécuritaire,
																																																																																																												            Impression de Reprise, Printer 3D avec Taille d'Impression 220 x 220 x 250mm</p>
					<a href="https://www.amazon.fr/ELEGOO-Silencieuse-Construction-Alimentation-S%C3%A9curitaire/dp/B08V4SJ9YV/ref=sr_1_8?__mk_fr_FR=%C3%85M%C3%85%C5%BD%C3%95%C3%91&dchild=1&keywords=imprimante+3d&qid=1630052386&s=industrial&sr=1-8" class="card-text">
						<small class="text-muted">Acheter cette imprimante</small>
					</a>
				</div>
			</div>
		</div>
		<div class="ProduitPla">
			<h1>Produits nécessaires pour une imprimante 3D filaments</h1>
		</div>
		<div class="card-group outils">
			<div class="card">
				<img src="../../public/assets/images/bobines.jpg" class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">Bobines de filaments</h5>
					<p class="card-text">Plusieurs type de filaments plastiques existent: PLA , PETG , ABS. chaque matériaux ont
																																																																																																												            besoin d'un réglage différents d'impression, la resistance du plastique est différent</p>
					<a href="https://www.amazon.fr/s?k=bobine+fil+imprimante+3d&i=industrial&__mk_fr_FR=%C3%85M%C3%85%C5%BD%C3%95%C3%91&crid=3OFSMDDBV2RUR&sprefix=bobine%2Cindustrial%2C175&ref=nb_sb_ss_ts-doa-p_4_6" class="card-text">
						<small class="text-muted">Acheter du filament</small>
					</a>
				</div>
			</div>
			<div class="card">
				<img src="../../public/assets/images/buse.jpg" class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">Buse d'impression 3D</h5>
					<p class="card-text">La buse d'une imprimante est la partie qui chauffe le filament, après un certains nombre
																																																																																																												            d'impression celle-ci doit etre changée pour garder une bonne qualité d'impression</p>
					<a href="https://www.amazon.fr/s?k=buse+imprimante+3d&i=industrial&__mk_fr_FR=%C3%85M%C3%85%C5%BD%C3%95%C3%91&crid=79A9VHTW2DXF&sprefix=buse+%2Cindustrial%2C171&ref=nb_sb_ss_ts-doa-p_2_5" class="card-text">
						<small class="text-muted">Acheter des buses</small>
					</a>
				</div>
			</div>
			<div class="card">
				<img src="../../public/assets/images/outils.jpg" class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">Kit d'outils nécessaires</h5>
					<p class="card-text">Une spatule pour décoller vos impressions 3D du plateau, des pinces pour enlever les
																																																																																																												            supports d'impressions, des aiguilles pour déboucher les buses, ...</p>
					<a href="https://www.amazon.fr/HAWKUNG-Imprimante-Changement-Aiguilles-D%C3%A9montage/dp/B08V5G1RQM/ref=sr_1_32_sspa?__mk_fr_FR=%C3%85M%C3%85%C5%BD%C3%95%C3%91&crid=OWIIBODKDWFB&dchild=1&keywords=equipement+imprimante+3d&qid=1630055035&sprefix=equipement+imprim%2Caps%2C165&sr=8-32-spons&psc=1&spLa=ZW5jcnlwdGVkUXVhbGlmaWVyPUExRUdJOU5OT1M1QVExJmVuY3J5cHRlZElkPUEwOTU0Nzc0MjBRMU1HT05FOVVCWSZlbmNyeXB0ZWRBZElkPUEwOTYyMjA4TDJVOFNZN0RRT1hEJndpZGdldE5hbWU9c3BfbXRmJmFjdGlvbj1jbGlja1JlZGlyZWN0JmRvTm90TG9nQ2xpY2s9dHJ1ZQ==" class="card-text">
						<small class="text-muted">Acheter des outils</small>
					</a>
				</div>
			</div>
		</div>

	{% endblock %}
