<div class="inputCommentaire">
	{{ form_start(formComment) }}
	{{ form_widget(formComment.commentaire) }}
	<a>

		<button class="submitComment" type="submit">
			<i class="fas fa-paper-plane" style='font-size:30px;color:#c94114; margin-left: 20%;'></i>
		</button>

	</a>
	{{ form_end(formComment) }}
</div>
