{% extends 'base.html.twig' %}

{% block title %}New CategoryFichier{% endblock %}

{% block body %}
    <h1>Create new CategoryFichier</h1>

    {{ include('category_fichier/_form.html.twig') }}

    <a href="{{ path('category_fichier_index') }}">back to list</a>
{% endblock %}
