<div class="containerMail">
	<div class="imageMail">
		<img src="{{ asset ('assets/images/logoMail.PNG')}}" alt="Bannière Jlayers mail"/>
	</div>
	<h1>{{ user}}</h1>
	<h2>vous demande :</h2>
	<p>{{message}}</p>
</div>
